
/* général */

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Roboto:wght@300;400&display=swap');

body{
        background: #5626A4;
        font-family: 'Roboto', sans-serif;
        margin: 0 25px;
   }

   h1{
        font-family: 'Reem Kufi', sans-serif;
        font-size: 50px;
    }

.flex{
        display: flex;
}

/* header */

header{

        justify-content: space-between;
        align-items: centerg;
        margin-top: 20px;
        color: #FFFFFF;
    
}

/* icone */

.espace{
        margin-left: 10px;
}


/* nav */

nav{
        margin-right: 20px;
        list-style-type: none;
        gap: 45px;
        color: rgba(255, 255, 255, 0.67);
}
nav li:hover {
text-decoration: 2px underline #9D7DD3;
font-size: large;
color: white;
cursor: pointer;
}

/* main */

main{
        margin-top: 100px;
        gap: 280px;
}

/* form */

.addForm{
     margin-top: 40px;
     background: #5626A4;
     box-shadow: inset 0px 0px 20px 5px #3B1973;
     width: 415px;
     height: 267px;
}

.addForm article{
        width: 318.45px;
        height: 215.12px;
        margin-left: 48px;
        margin-right: 48.44px;
        padding-top:21.95px;
        padding-bottom:29.93px;
}

.input{
        background: #FFFFFF;
        width: 318.45px;
        height: 52.88px;
        color: black;
}

.deuxbuttons{

        display: block;
        margin-left: 70px;
        margin-top: 15px;
}

.random{

        display: block;
        margin-top: 7px;
        border-radius: 50px;
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        font-weight: 300px;

}

.submit{
        border-radius: 50px;
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        font-weight: 300px;
}

/* List todo */

.priority{
        margin-top: 35px;
        width: 857px;
        height: 100%;
        background: #5526A4;
        box-shadow: 0px 0px 250px #190835;
        color: #FFFFFF;
    }


.trie{
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        margin-bottom: 10px;
        margin-left: 9px;

}

.priority button{
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        margin-top: 48px;
        margin-bottom: 49px;
        border-radius: 50px;
}

@media (max-width:768PX) {
        
}


