
/* général */

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Roboto:wght@300;400&display=swap');

body{
        background: #5626A4;
        font-family: 'Roboto', sans-serif;
        margin: 0 25px;
   }

   h1{
        font-family: 'Reem Kufi', sans-serif;
        font-size: 50px;
    }

.flex{
        display: flex;
}

.alignColumn{
        flex-direction: column;
        align-items: center;
}

.pc {
        display: block;
}

.tel{
        display: none;
}

/* header */

header{

        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        color: #FFFFFF;
    
}

/* icone */

.espace{
        margin-left: 10px;
}


/* nav */

nav{
        margin-right: 20px;
        list-style-type: none;
        gap: 45px;
        color: rgba(255, 255, 255, 0.67);
}
nav li:hover {
text-decoration: 2px underline #9D7DD3;
font-size: large;
color: white;
cursor: pointer;
}

/* main */

main{
        margin-top: 100px;
        justify-content: space-between;
}

/* form */

.addForm{
     margin-top: 40px;
     width: 50%;
}

.addForm article{
        width: 50%;
        background: #5626A4;
        box-shadow: inset 0px 0px 20px 5px #3B1973;
        padding-top:21.95px;
        padding-bottom:29.93px;
}

.formulaire{
        width: 90%;
}

.input{
        background: #FFFFFF;
        width: 100%;
        height: 52.88px;
        color: black;
}

.random{

        display: block;
        margin-top: 7px;
        border-radius: 50px;
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        font-weight: 300px;

}

.submit{
        border-radius: 50px;
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        font-weight: 300px;
}

/* List todo */

.priority{
        margin-top: 35px;
        width: 50%;
        height: 100%;
        background: #5526A4;
        box-shadow: 0px 0px 250px #190835;
        color: #FFFFFF;
    }
  
.trie{
        font-weight: 300;
        font-size: 33px;
        margin-top: 48px;
        margin-bottom: 49px;
        margin-left: 9px;

}

.priority button{
        
        color: #FFFFFF;
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
}

.lines{
        align-items: center;
        margin: 0 9px;
        gap: 38px;
}

.lines button{
        width: 100px;
        height: 50px;
}

.line {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 23px;
}
.flex{
        gap: 20px;
        margin-bottom: 10px;
}

.Naffiche{
        display: none;
}

.affiche{
        display: block;
}
.styloTel{
        display: none;
}
.poubelleTel{
        display: none;
}

.burgermenu{
        display: none;
}

/* version Tablette */

 @media (max-width:992px) {
        main{
                flex-direction: column;
                margin-top: 0;
        }

        .addForm{
                width: 100%;
        }
        .addForm article{
                width: 100%;
        }

        .priority{
                width: 100%;
        }

        nav li{
                display: none;
        }

        .espace{
                display: none;
        }

        .burgermenu{
                display: block;
        }

     


 }

 /* version tel */

@media (max-width:768px){
        .pc{
                display: none;
        }
        
        .tel{
                display: block;
        }
}
