/* général */

body{
        background: #5626A4;
   }

   h1{
        font-family: 'Reem Kufi Fun';
    }

/* header */

header{
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        color: #FFFFFF;
    
}

/* icone */

.espace{
        margin-left: 10px;
        width: 20px;
}


/* nav */

nav{
        display: flex;
        margin-right: 20px;
        margin-left: 900px;
        list-style-type: none;
        gap: 45px;
}

/* main */

main{
        margin-left: 240px;
        margin-top: 100px;
        display: flex;
        gap: 280px;
}

/* form */

.addForm{
     margin-top: 40px;
     background: #5626A4;
     box-shadow: inset 0px 0px 20px 5px #3B1973;
     width: 415px;
     height: 267px;
     margin-left: -190px;
}

.addForm article{
        width: 318.45px;
        height: 215.12px;
        margin-left: 48px;
        margin-right: 48.44px;
        padding-top:21.95px;
        padding-bottom:29.93px;
}

.input{
        background: #FFFFFF;
        width: 318.45px;
        height: 52.88px;
        color: black;
}

.deuxbuttons{

        display: block;
        margin-left: 70px;
        margin-top: 15px;
}

.random{

        display: block;
        margin-top: 7px;
        border-radius: 50px;
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
}

.submit{
        border-radius: 50px;
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
}

/* List todo */

.trie{
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        margin-bottom: 10px;
}

.priority button{
        background: #5526A4;
        border: 1px solid rgba(0, 0, 0, 0.26);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        margin-top: 48px;
        margin-bottom: 49px;
        border-radius: 50px;
}

.priority{
        margin-top: 35px;
        width: 857px;
        height: auto;
        background: #5526A4;
        box-shadow: 0px 0px 250px #190835;
        margin-right: 103px;
        color: #FFFFFF;
    }



